@import "reset";
@import "layout";
@import "pod-styles";
@import "mixins";

@include layouts_for_breakpoint();


h1 {
  text-align: center;
  #site_header {
    text-align: center;
    color: #fa8184;
    text-align: center;
    text-decoration: none;
  }  
}

.text-center {
  text-align: center;
}


