@import "reset";
@import "layout";
@import "pod-styles";


h1 {
  text-align: center;
  #site_header {
    text-align: center;
    color: #fa8184;
    text-align: center;
    text-decoration: none;
  }  
}

.file--input {
  display: block;
  width: 155px;
  margin: 0 auto;
}

