.btn-secondary {
  @apply .rounded .text-primary-1 .p-3 .leading-normal
}

.btn-primary {
  @apply .rounded .text-white .p-3 .bg-primary-1 .leading-normal .transition
}

.btn-primary.disabled, button[disabled], button:disabled, button:disabled:hover {
  @apply .bg-primary-disabled .cursor-not-allowed
}

.body-1 {
  @apply .font-thin .leading-body-1
}

.body-2 {
  @apply .text-sm
}

.icon {
  @apply .w-6 .h-6 .block .bg-contain
}

.check {
  background-image: url('/icons/tick-dark@2x.png');
}

@variants focus {
  .border-primary-1 {
    outline: none;
    border-color: #5b53ff;
  }
}

@variants hover {
  .btn-primary-hover {
    background-color: #443ce9;
  }
  .btn-secondary-hover {
    @apply .text-primary-3
  }
  .btn-google-hover {
    box-shadow: rgba(159, 163, 185, 0.6) 0px 10px 16px -8px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  .card-hover {
    box-shadow: rgba(159, 163, 185, 0.4) 0px 24px 44px -12px, rgba(0, 0, 0, 0) 0 0 0 0;
    cursor: pointer;
  }
  .icon-hover {
    box-shadow: rgba(159, 163, 185, 0.5) 0 10px 30px -7px, rgba(0, 0, 0, 0) 0 0 0 0;
    cursor: pointer;
  }
  .pill-hover {
    filter: brightness(90%);
    cursor: pointer;
  }
}

@variants group-hover {
  .btn-primary-hover {
    background-color: #443ce9;
  }
  .btn-secondary-hover {
    @apply .text-primary-3
  }
  .btn-primary-hover.disabled {
    background-color: #b2b6cd;
    cursor: not-allowed;
  }
  .icon-hover {
    box-shadow: rgba(159, 163, 185, 0.5) 0 10px 30px -7px, rgba(0, 0, 0, 0) 0 0 0 0;
    cursor: pointer;
  }
}