// BACKGROUND
$ember-power-select-highlighted-background: #5b53ff !default;
$ember-power-select-selected-background: #efeff9 !default;

// TEXT
$ember-power-select-selected-text-color: #605f88 !default;
$ember-power-select-text-color: #605f88 !default;
$ember-power-select-highlighted-color: #fff !default;

// BORDER
$ember-power-select-default-border: 1px solid #e1e1e6 !default;
$ember-power-select-dropdown-border: 1px solid #e1e1e6 !default;
$ember-power-select-active-trigger-border: 1px solid #5b53ff !default;

// BORDER RADIUS
$ember-power-select-dropdown-default-border-radius: 2px;
$ember-power-select-default-border-radius: 2px !default;

// OTHER
$ember-power-select-line-height: 2.5em !default;
$ember-power-select-trigger-ltr-padding: 3px 8px 3px 16px !default;
$ember-power-select-option-padding: 12px !default;
$ember-power-select-focus-outline: none !default;

