.container {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-image: url("/icons/ic-uncheck.svg");
  background-size: cover;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-image: url("/icons/ic-tickldark.svg");
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
