<div class='items-center bg-white py-4 px-3 rounded flex'>
  <img src='/icons/ic-csv.png'>
  <span class='text-primary-2 ml-3'>{{csv.filename}}</span>
  <a onClick={{perform deleteCsvUpload}} class='ml-auto cursor-pointer text-primary-2 hover:text-primary-2-hover flex'>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16" >
      <defs>
          <path id="a" d="M9.414 8l6.364 6.364-1.414 1.414L8 9.414l-6.364 6.364-1.414-1.414L6.586 8 .222 1.636 1.636.222 8 6.586 14.364.222l1.414 1.414z"/>
      </defs>
      <use class='fill-current' fill-rule="evenodd" xlink:href="#a"/>
    </svg>
  </a>
</div>