<div class='flex flex-col'>
  <h1 class='text-center text-primary-2 mt-10'>Categorise your spending</h1>
  <p class='text-center body-1 text-primary-2 mt-4'>Tag your transactions with a category</p>

  <div class='flex flex-col justify-center items-center bg-white mt-22 p-16 pb-8 relative rounded'>
    <div class='border border-shade-3 absolute rounded-full w-20 h-20 pin-t bg-white -mt-10 flex items-center'>
      <img src='/icons/ic-coffee.png' srcset='/icons/ic-coffee@2x.png 2x,/icons/ic-coffee@3x.png 3x' class='flex mx-auto h-10 w-10'>
    </div>
    <div class='py-2 px-4 bg-food text-white rounded-full'>Coffee</div>
    <p class='text-center body-1 text-primary-2 mt-4 mt-8'>We found <b class='font-bold'>63 transactions</b> with the keyword <b class='font-bold'>"Sixes and Sevens"</b><br> We reckon this one comes under coffee.</p>
    <div class='flex flex-row mt-8'>
      <button class='btn-secondary hover:btn-secondary-hover w-56'>Choose another category</button>
      <button class='btn-primary hover:btn-primary-hover ml-2 w-56'>Tag as Coffee</button>
    </div>
  </div>

  <div class='flex flex-1 mb-14'>
    <div class='flex w-full flex-col-reverse'>
      <div class='mx-auto'>
        <button class='btn-secondary hover:btn-secondary-hover w-56'>Skip transaction</button>
      </div>
    </div>
  </div>
</div>