<div class='flex h-screen flex-row'>
  <div class='bg-primary-4 flex-none' style='width: 216px'>
    <img class='w-24 block mx-auto mt-8' src='/logo@2x.png' />

    <div class='ml-4 mr-4'>
      <hr class='border-t flex-grow mt-10 border-shade-3 opacity-25'>

      <div class='flex justify-between mt-10 text-correct leading-normal'>
        <p>Choose your tool</p>
        <i class='icon check'></i>
      </div>

      <div class='flex justify-between h-6 mt-6 text-white leading-normal'>
        <p>Upload CSV</p>
        <p>{{if (gt currentUser.user.csv_uploads.length 0) '100%' ''}}</p>
      </div>

      <div class='flex justify-between h-6 mt-6 text-white leading-normal'>
        <p class='opacity-25'>Categorise</p>
        <p class='opacity-25'>0%</p>
      </div>
    </div>
  </div>

  <div class='flex mx-auto'>
    {{outlet}}
  </div>
</div>
