<img alt='logo' class='w-12 flex mt-2 ml-4' src='/logo-only.png'>
<span class='flex ml-2 text-3xl'>Gemino</span>

<div class='flex ml-auto mr-4'>
  {{#link-to 'about' class='btn-secondary text-primary-2 no-underline w-20 text-center'}}
    About
  {{/link-to}}

  {{#link-to 'login' class='btn-secondary text-primary-2 no-underline w-20 text-center mr-6'}}
    Login
  {{/link-to}}

  {{#link-to 'register' class='btn-secondary border border-solid border-primary-1 no-underline'}}
    Create an account
  {{/link-to}}
</div>