<navigation id="primary_nav">
  <profile>
    <span>{{firebaseSession.currentUser.displayName}}</span>
    <img class="user__photo" src="{{firebaseSession.currentUser.photoURL}}">
  </profile>
  <a {{action "signOut"}} href="#">Sign out</a>
</navigation>
