{{#if (or session.isAuthenticated firebaseSession.isAuthenticated)}}

  Already signed in.

{{else}}

  <button id="googleSignIn" disabled={{signIn.isRunning}} onClick={{perform signIn "google"}}>
    <img class="icon" src="/google-g.png"/>
    <span class="buttonText">{{if signIn.isRunning 'Signing you in' 'Sign in with Google'}}</span>
  </button>

{{/if}}