<AnimatedContainer>

  <div class='flex flex-row'>
    {{#animated-each transactions use=this.transition as |transactionGroup|}}
      <TransactionSlider::Slide 
        @transactions={{transactionGroup}}
        @selectCategory={{selectCategory}} />
    {{/animated-each}}
  </div>

</AnimatedContainer>
