<AnimatedContainer style='min-width: 584px;'>

  <div class='flex'>
    {{#each transactions as |transactionGroup index|}}
      <TransactionSlider::Slide
        @slideIndex={{index}}
        @currentTransactionGroup={{currentTransactionGroup}}
        @transactions={{transactionGroup}}
        @selectCategory={{selectCategory}} />
    {{/each}}
  </div>

</AnimatedContainer>
