<AnimatedContainer style='width: 584px;'>
  <div class='flex'>
    {{#animated-each transactionGroups use=this.transition as |transactionGroup index|}}
      <TransactionSlider::Slide @slideIndex={{index}} @currentTransactionGroup={{currentTransactionGroup}}
        @transactions={{transactionGroup}} />
    {{/animated-each}}
  </div>
</AnimatedContainer>